<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.api.report.mapper.JdeOutputMapper">

  <select id="getMax" resultType="java.util.Date"  >
    select max(t_z) from jde_output jo
  </select>


</mapper>